body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.maindiv{
    height: 100%;
}
.navbar{
    border:1px solid black;
    height: 15%;
    background-color: rgb(195, 255, 255);
}

.search_div{
    height: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}
.menu{
    height: 50%;
    border: 1px solid black;
}

.menu_list{
    margin: 0px;
    padding: 0px;
    display:flex;
    /* grid-template-rows: repeat(2,2fr); */
    grid-template-columns: repeat(5,2fr);
    list-style-type: none;
    justify-content: center;
    /* align-items: center; */
    height: 100%;



}
.menu_list li{
    margin-left: 200px;
    list-style-type: none;
    color:aliceblue;
}
.menu_list li:hover{
    color:rgb(228, 3, 3);
    background-color:rgb(157, 64, 64);
    
}
.adv{
    border:1px solid black;
    /* height: 20%; */
    background-color: rgba(197,223,222, 0.5);
    width: 10%;


}

.main_content{
    border:1px solid black;
    height: 55%;
    display:grid;

    /* grid-gap: 10px; */
    grid-template-columns: repeat(2,2fr);
    /* grid-template-rows: repeat(2,1fr) ;
    flex-wrap:wrap; */
    /* overflow: auto; */
    /* justify-content: center; */
    width: 97%;
    grid-gap: 5rem;
    margin: auto;
}
.main_content > img {
    flex: 50%;
}

.footer{
    border: 1px solid black;
    height: 10% ;
}

.search{
    width: 65%;
    height: 40px;
    border-radius: 10px;
    
}
.search:hover{
    color: rgb(28, 120, 201);
    background-color: rgb(242, 242, 242);
}

.btn{
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    width:70px

}  box-shadow: 10px 10px 5px lightblue;
.btn:hover{
    color: rgb(243, 248, 246);
    background-color: rgb(32, 32, 32);
}
.logo{
    height: 100%;
}
.space{
    width: 20%;
    height: 100%;
}


.space2{
    width: 60%;
}

.space3{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.space31{
    margin: 5px;
    margin-right:50px;
    border:1px solid black;
    font-size: 20px;
    background-color: aliceblue ;
    color: black;
    border-radius: 5px;
}

.adv_img{
    object-fit: contain;
}

li {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1,182,190, 0.5);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.section1{
    display: flex;
}
.cat{
    height: 350px;
    width: 350px;
    /* border:1px solid black; */
    /* border-radius: 10%; */
    /* object-fit: fill; */
}



.footer{
    text-align: center;
}
.type{
    /* text-align: center; */
    color: aliceblue;
    background-color: black;
    /* width:fit-content; */
    font-size: 20px;
    /* padding-left:5rem; */
    position: absolute;
    border-radius: 10px;
    margin-left:6rem ;

}

.mobiles{
    border:1px solid black;
    grid-gap: 20px;
}


/* main content */
.main_content{
    /* display: flex; */
    justify-content: center;
    padding: 10px;
    flex-wrap:wrap ;
}

.ele_type{
    text-align: center;
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 35px;
    color: aliceblue;
    background-color: rgb(59, 49, 49);
    width: 100%;
    margin: auto;

}
.electronics{
    border: 1px solid black;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin:10px;
    box-shadow: 10px 10px 5px lightblue;
}

.laptops{
    padding-top:50px
}
.electronics:hover{
    transform:scale(105%);
    transition: 0.3s;
}

.img{
    margin: auto;
}