/* setting things up */

body, *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* arranging main container */

.maindiv{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    /* display: grid; */
    /* grid-template-rows: 1fr 2fr 6.5fr 0.5fr; */
    /* grid-template-rows: 10% 20% 65% 5%; */
}

/* styling nav bar */

.navbar{
    border:1px solid black;
    height: 164.22px;
    /* height: 100%; */
    /* display: grid;
    grid-template-rows: 1fr 1fr; */
    background-color: rgb(197,223,222);
}

.search_div{
    height: 80.69px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}
.menu{
    height: 80.69px;
    border: 1px solid black;
}

.menu_list{
    margin: 0px;
    padding: 0px;
    display:flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/* styling advertising content */

.adv{
    border:1px solid black;
    height: 328.38px;
    /* height: 100%; */
    background-color: rgba(197,223,222, 0.5);
}

/* styling main content */

.main_content{
    border:1px solid black;
    height: 100%;
    display:grid;
    grid-template-columns: 1fr 8fr 1fr;
<<<<<<< HEAD
    width: 100%;
}

.content {
    border: 1px solid black;
}

/* styling filter bar */

.left{

}

.adv{
    /* border:1px solid black; */
     border-bottom: 1px solid black;
    height: 10%;
    background-color: rgba(197,223,222, 0.5);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;


}

.adv_img{
    object-fit: contain;
}

.sidebtn {
    height: 157px;
    width: 70px;
    opacity: 0.2;
}

.filter {
    border: 1px solid black;
    height: 400px;
}

/* styling main cards */

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* overflow: scroll; */
}

/* left on purpose */

.right {

}

/* styling individual card */

.card {
    /* margin: 33px;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px; */
    margin: 33px;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(197,223,222);
    box-shadow: 5px 5px grey;
}

.innercard {
    /* border: 1px solid black; */
    position: relative;
    top: 20px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.name {
    border-top: 0.5px solid grey;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(197,223,222);
}

.priceandrating {
    border-top: 0.5px solid grey;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.checked {
    color: orange;
}

.cardimg {
    width: 100%;
    height: 80%;
}

=======
    width: 100%;
}

.content {
    border: 1px solid black;
}

/* styling filter bar */

.left{

}

.filter {
    border: 1px solid black;
    height: 400px;
}

/* styling main cards */

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* overflow: scroll; */
}

/* left on purpose */

.right {

}

/* styling individual card */

.card {
    /* margin: 33px;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px; */
    margin: 33px;
    border: 1px solid black;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(197,223,222);
    box-shadow: 5px 5px grey;
}

.innercard {
    /* border: 1px solid black; */
    position: relative;
    top: 20px;
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.name {
    border-top: 0.5px solid grey;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(197,223,222);
}

.priceandrating {
    border-top: 0.5px solid grey;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.checked {
    color: orange;
}

.cardimg {
    width: 100%;
    height: 80%;
}

>>>>>>> a02f5c1c782821dcda409b170c235e6a510167ea
/* styling footer */

.footer{
    border: 1px solid black;
    height: 97.76px;
}

.pages {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

.pages .btn {
    height: 20px;
}

.pages .number {
    margin: 3px;
}

.pages .logo {
    height: 30px;
}

.search{
    width: 65%;
    height: 40px;
    border-radius: 10px;
    
}
.search:hover{
    color: rgb(28, 120, 201);
    background-color: rgb(242, 242, 242);
}

.btn{
    height: 45px;
    border: 1px solid black;
    border-radius: 10px;
    width:70px

}
.btn:hover{
    color: rgb(243, 248, 246);
    background-color: rgb(32, 32, 32);
}

.space{
    width: 20%;
    height: 100%;
}


.space2{
    width: 60%;
}

.space3{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.space31{
    margin: 5px;
    margin-right:50px;
    border:1px solid black;
    font-size: 20px;
    background-color: aliceblue ;
    color: black;
    border-radius: 5px;
}

.adv_img{
    object-fit: contain;
}

li {
    border: 1px solid black;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1,182,190, 0.5);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.section1{
    display: flex;
}
.cat{
    height: 350px;
    width: 350px;
    /* border:1px solid black; */
    /* border-radius: 10%; */
    /* object-fit: fill; */
}
.section2{
    display: flex;
}

.mobiles,.footwear{
    margin-left:200px ;
    padding: 10px;
    width:fit-content;
    height: fit-content;
}

.electronics,.apparel{
    margin-left:50px ;
    width:fit-content;
    height: fit-content;
}
.footwear{
    margin-left:100px;
}
.electronics{
    margin-left:150px;
}


.footer{
    text-align: center;
}
.type{
    /* text-align: center; */
    color: aliceblue;
    background-color: black;
    /* width:fit-content; */
    font-size: 20px;
    /* padding-left:5rem; */
    position: absolute;
    border-radius: 10px;
    margin-left:6rem ;

}

.content {
    border:1px solid black;
    width: 100%;
    height: 100%;
}
