body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(197,223,222);
    color: aliceblue;
    font-size: 30px;

}

.maindiv{
    height: 100%;
    width: 100%;
}
.navbar{
<<<<<<< HEAD
     border-bottom: 1px solid black;
=======
    /* border:1px solid black; */
     /* border-bottom: 1px solid black; */
>>>>>>> 8692ee73b08e7a9a94c38bf93a4c2b25589678a5
    height: 15%;
    background-color: rgb(197,223,222);
}

.search_div{
    height: 50%;
<<<<<<< HEAD
     border-bottom: 1px solid black;
=======
    /* border: 1px solid black; */
     /* border-bottom: 1px solid black; */
>>>>>>> 8692ee73b08e7a9a94c38bf93a4c2b25589678a5
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu{
    height: 50%;
    /* border: 1px solid black; */
     /* border-bottom: 1px solid black; */
}

.menu_list{
    margin: 0px;
    padding: 0px;
    display:flex;
    list-style-type: none;
    justify-content: space-between;
    /* align-items: center; */
    height: 100%;



}

.adv{
    /* border:1px solid black; */
     /* border-bottom: 1px solid black; */
    height: 10%;
    background-color: rgba(197,223,222, 0.5);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.advlogo {
    width: 100%;
}

.advbtnl {
    position: absolute;
    left: 0;
    opacity: 0.2;
}

.advbtnr {
    position: absolute;
    right: 0;
    opacity: 0.2;
}

h3 {
    background-color: pink;
}

.main_content{
<<<<<<< HEAD
    /* border:1px solid black; */
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr); */
     border-bottom: 1px solid black;
    /* height: 55%; */
    display:flex;
    /* justify-items:center; */
    object-fit: contain;
    background-image: url("images/mobiles/background.jpg");
    /* background-attachment: fixed;
    background-repeat: no-repeat;
    */
    /* width: fit-content; */
=======
    /* border: 1px solid black; */
    display: grid;
    background-color: pink;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    /* justify-content: center; */
    padding-left: 20%;
    padding-right: 25%;
}

.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 390px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 3px 3px black;
}

.card p {
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 20px;
    width: 300px;
    height: 40px;
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(99,202,206);
}

.card a {
    border-radius: 0 0 5px 5px;
    margin: 10px;
    margin-top: 0;
}

.cardimg {
    width: 100%;
>>>>>>> 8692ee73b08e7a9a94c38bf93a4c2b25589678a5
}

.footer{
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    height: 10% ;
}

.search{
    width: 65%;
    height: 40px;
    border-radius: 10px;
    
}
.search:hover{
    color: rgb(28, 120, 201);
    background-color: rgb(242, 242, 242);
}

.btn{
    height: 45px;
    border: none;
    border-radius: 10px;
    width:70px

}
.btn:hover{
    color: rgb(243, 248, 246);
    background-color: rgb(32, 32, 32);
}
.logo{
    height: 100%;
}
.space{
    width: 20%;
    height: 100%;
}


.space2{
    width: 60%;
}

.space3{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.space31{
    margin: 5px;
    margin-right:50px;
    border:1px solid black;
    font-size: 20px;
    background-color: aliceblue ;
    color: black;
    border-radius: 5px;
}

.adv_img{
    object-fit: contain;
}

a {
    color: aliceblue;
}

li {
    /* border-right: 1px solid black; */
    width: 20%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(1,182,190, 0.5);
    transition: all 0.2s ease-in;
}

li:hover {
    cursor: pointer;
    /* background-color: greenyellow; */
    border-bottom: 5px solid orange;
}

li:hover a {
    color: orange;
}

a {
    text-decoration: none;
}


.footer{
    text-align: center;
}
.type{
    /* text-align: center; */
    color: aliceblue;
    background-color: black;
    /* width:fit-content; */
    font-size: 20px;
    /* padding-left:5rem; */
    position: absolute;
    border-radius: 10px;
    margin-left:6rem ;

}
<<<<<<< HEAD

.menus{
    width: 20%;
}

=======
>>>>>>> 8692ee73b08e7a9a94c38bf93a4c2b25589678a5
